.inspection-container {
    width: 100%;


}

.search-icon{
    color : black
  }

  .table-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ffab91;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff7043;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #ffe0d4;
}

tbody tr:nth-child(odd) {
    background-color: white;
}