.Table-MainBranch {
    width: 100%;
    font-size: 18px;
    border: #fd6e2b 1px solid;
    border-radius: 10px; /* ทำให้ทั้งตารางมีมุมโค้ง */
    border-collapse: separate; /* ป้องกัน border-radius ไม่ทำงาน */
    border-spacing: 0; /* ป้องกันการเกิดช่องว่าง */
  }
  
  /* ทำให้เฉพาะมุมของ thead มีโค้ง */
  .Table-MainBranch thead th:first-child {
    border-top-left-radius: 10px;
  }
  
  .Table-MainBranch thead th:last-child {
    border-top-right-radius: 10px;
  }
  

table {
  width: 100%;
  border-collapse: collapse;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination button {
  background-color: #f97316;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* 
tr{
    border: #FD6E2B 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} */

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #fd6e2b;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* ทำให้เฉพาะหัวตารางมีมุมโค้ง */
/* th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
} */
