table {
  width: 100%;
  background-color: white;
  
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #f97316;
}

th {
  background-color: #f97316;
}

td{
  text-align: center;
}
tr{
  text-align: center;
}

.tableHeaderSubBranch {
  background-color: #fd6e2b;
  color: white;
  font-weight: bold;
  font-size: 18px;
}