.sidebarContainer {
    height: 100vh;
    width: 15%;
    border-right: 2px solid #FD6E2B;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 10px 20px;
    gap: 10px;
    /* background-color: #fff; */
}

.dashboardSB,
.manageuserSB,
.manageunitSB {
    font-weight: larger;
    color: #000000;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s;
}

.dashboardSB:hover,
.manageuserSB:hover,
.manageunitSB:hover {
    background-color: #FD6E2B;
    color: #fff;
    transform: scale(1.05); /* ขยายเล็กน้อยให้ดู smooth */
}

.dashboardSB:active,
.manageuserSB:active,
.manageunitSB:active {
    background-color: #FFD3BE;
    transform: scale(0.98); /* หดลงเล็กน้อยเมื่อกด */
}

.dashboardSB:focus,
.manageuserSB:focus,
.manageunitSB:focus {
    background-color: #FFD3BE;
    outline: none;
}
